<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GraphQL Sequelize Test</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" ng-app="graphql" ng-controller="queryController">
    <div class="jumbotron">
        <h2>GraphQL Sequelize Test</h2>
    </div>
    <form ng-submit="sendQuery(model.query, model.vars)">
        <div class="form-group">
            <label for="query">Query</label>
            <textarea id="query" ng-model="model.query" class="form-control" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="vars">Vars</label>
            <textarea id="vars" ng-model="model.vars" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        <div class="form-group">
            <label for="result">Result</label>
            <textarea id="result" ng-model="model.result | json" class="form-control" rows="10"></textarea>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js"></script>
<script src="index.js"></script>
</body>
</html>
